.input-field {
  color: var(--font-color);
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.input-label, .input-value {
  display: block;
}

.input-label {

}

.input-value {
  padding: 0.8em;
  font-size: 1.3rem;
  border-radius: 3px;
  border: none;
  appearance: none;
  width: 100%;
}
